html {
  background-color: #ffffff;
  color:#000080;
}

ul {
  columns: 2;
  -webkit-columns:2;
  list-style-position: inside;
}
a {
  color: #800080;
}

a:visited {
  color:#ff0000;
}

.description {
  font-size: 10px;
}

header {
  text-align: center;
}

header p, header h1, header h2 {
  margin: 0;
}
header p {
  font-size: 13px;
  font-weight: bold;
}
 header h1 {
   font-size: 18px;
 }
header h2 {
  font-size: 18px;
}
